// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.friend-buttons.self{
  display: none;
}

div.friend-buttons.can-friend button.friend-remove{
  display: none;
}

div.friend-buttons.can-unfriend button.friend-add{
  display: none;
}

div.errors {
  color: red;
}